body {
	background-color:blanchedalmond;
}

#squares div{
	height: 10vw;
	width: 10vw;
	background-color: tomato;
	margin: 2vw;
	float: right;
}

#squares .blue {
	background-color: blue;
}

#squares #yellow {
	background-color: yellow;
}

#circles div {
	height: 3vw;
	width: 3vw;
	background-color: rgb(122, 206, 122);
	border-radius: 50%; 
	margin: 10vw;
	float: left;
}

#circles {
	/*margin-top: -100vw; */
	width: 100vw;
	height: 100vh;
	border: 4px solid blue;
	clear: both;
	position: fixed;
}